.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

user-info-box {
  float: right;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}
